// ============================================================
// nextflow.config
// ============================================================

params {
    input        = "${projectDir}/test_data/samplesheet.csv"
    outdir       = "results"
    max_cpus     = 4
    max_memory   = '8.GB'
    max_time     = '2.h'
}

docker {
    enabled      = true
    fixOwnership = true
}

conda {
    enabled = false
}

singularity {
    enabled = false
}

process {
    cpus   = 2
    memory = '4.GB'
    time   = '1.h'
}

profiles {
    test {
        params.input  = "${projectDir}/test_data/samplesheet.csv"
        params.outdir = "results_test"
        process {
            cpus   = 2
            memory = '4.GB'
        }
    }
}

manifest {
    name            = 'bacterial-genomics-wf'
    description     = 'Minimal genomics pipeline: fastp -> (SPAdes || SeqKit)'
    version         = '1.0.0'
    nextflowVersion = '>=24.10.0'
}

docker {
    enabled      = true
    fixOwnership = true
}

process {
    cpus   = 2
    memory = '4.GB'
    time   = '1.h'

    withName: SPADES {
        containerOptions = '--platform linux/amd64'
    }
}